body {
  background-color: #757373;
}
.flex {
  display: flex;
  flex-direction: row;
  max-height: 45vh;
  height: 45vh;
}
.chart {
  width: 45vw;
}
@media only screen and (max-width: 991px) {
  .chart {
    width: 95vw;
  }
}
.container {
  margin-top: 5vh;
}
