body {
  background-color: #eee7e7;
}

.chart-area {
  display: flex;
  max-height: 38vh;
  height: 37vh;
}

.chart {
  width: 45vw;
}

@media only screen and (max-width: 991px) {
  .chart {
    width: 95vw;
  }
}

.text-center {
  text-align: center;
}

.text-center span {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 7vmin;
  color: lightgreen;
  -webkit-text-stroke: 0.75px black;
  opacity: 0;
}

#key {
  display: flex;
  flex-direction: row;
  font-size: 2vmin;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  line-height: 2vmin;
}

.colors {
  width: 5vw;
  height: 2vmin;
  margin: 0 1vw;
}
